.field {
  &__label {
    display: block;
  }
  &__input {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 13px;
    
    
    background: transparent;
    border: 0;
    border-bottom: 2px solid currentColor;
    
    {hover-focus-active} {
      outline: 0;
    }
    
    @media $display-breakpoints.lg-and-up {
      padding-bottom: 15px;
    }
  }
  &__placeholder {
    absolute(0px, 0px);
    transition: opacity 0.3s, transform 0.3s;
    cursor: text;
    
    .has-focus &,
    .has-value & {
      opacity: 0;
      transform: translateX(10%);
    }
  }
  
  &__clear {
    color: inherit;
    font-size: 12px;
    padding: 6px;
    
    border: 0;
    background: transparent;
    box-shadow: none;
    
    absolute(0px);
    right: 0;
    
    {hover-focus-active} {
      box-shadow: none;
      outline: none;
    }
    
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    
    .has-value & {
      opacity: 1;
      pointer-events: initial;
    }
  }
}

.form {
  &--inline {
    @media $display-breakpoints.sm-and-up {
      flexy(flex-start, flex-end);
      .field--big {
        flex: 0 1 50%;
      }
    }
  }
  &--inline &__btn {
    flex: 0 0 auto;
  }
  &--inline &__field {
    flex: 1 1 auto;
    margin-bottom: $spacers.twenty.y;
    @media $display-breakpoints.sm-and-up {
      margin-right: $spacers.four.x;
      margin-bottom: 0;
    }
    @media $display-breakpoints.md-and-up {
      margin-right: $spacers.six.x;
    }
  }
}