include ./mixins
doctype html
block page
  html
    head
      block head
        title Nioxin
        meta(property="og:title", content="Nioxin30Days")
        meta(property="og:description", content="Description")
        meta(property="og:image", content="http://nioxin30days.elle.ru/build/img/share.jpg")
        //- include parts/favicon
        meta(charset="UTF-8")
        meta(name="viewport", content="width=640, initial-scale=1.0")
        link(href="../build/css/main.css", rel="stylesheet")
        link(rel="icon" type="image/png" href="favicons.png" sizes="16x16")
        script(src="../build/js/vendor/jquery-3.2.1.min.js")
        script(src="../build/img/svg/sprite.js")
        script(src="https://yastatic.net/share2/share.js",async="async")
    body
      .svg-sprite.l-hidden
      script
        | $('.svg-sprite').html(SVG_SPRITE);
      .layout.layout--mobile(class="layout--" + layout)
        include parts/header
        block content
        include parts/footer
        include parts/modal
      
      script(src="../build/js/vendor/owl.carousel.min.js")
      script(src="../build/js/main.js")