include ../mixins
// footer
.footer
  .l-container
    .footer__content
      +social(true, false)
      .footer__text Материал подготовлен при поддержке
      .footer__logo.logo.logo--nioxin
        +icon('nioxin')(class="logo__icon")