.expert {
  background: $primary.light;
  padding: 5rem 0 5.5rem;
  @media $mobile {
    padding: 60px 0 40px;
  }
  &__salons-btn {
    text-align: center;
  }
  &__heading {
    max-width: 530px;
    margin: 0 auto 2.5rem;
    
    .subtitle {
      margin-right: 4rem;
      margin-top: -1.5rem;
    }
  }
  
  &__content {
    max-width: 980px;
    margin: 0 auto;
    flexy(space-between, stretch);
    @media $mobile {
      justify-content: center;
    }
  }
  &__btn {
    @media $desktop {
      absolute(0, -60px, -60px);
      transform-origin: top left;
      transform: rotate(-90deg);
    }
    @media $mobile {
      text-align: center;
    }
  }
  &__media {
    flex: 0 0 410px;
    @media $mobile {
      flex-basis: 400px;
    }
  }
  &__img img {
    display: block;
  }
  &__info {
    flex: 0 0 480px;
    padding-top: 30px;
    @media $mobile {
      flex-basis: 380px;
      padding-top: 10px;
      margin-left: -150px;
    }
  }
  &__about {
    @media $desktop {
      flexy(flex-start, flex-start, column, nowrap);
      height: 500px;
    }
  }
  &__photo {
    circle(180px);
    @media $desktop {
      absolute(0px);
      right: 100%;
    }
    @media $mobile {
      margin: 30px auto;
      
      .page--varapanova & {
        margin: 40px auto 45px;
      }
    }
  }
  &__about-info {
    text-align: center;
    padding-bottom: 30px;
    margin: 30px 0;
    flex: 0 0 auto;
    width: 100%;
    
    &::after {
      content: '';
      display: block;
      circle(10px);
      absolute(0, 50%, 0px);
      transform: translateX(-50%);
      background: $primary.bg;
    }
    
    @media $mobile {
      .page--popova & {
        padding-bottom: 60px;
      }
      .page--varapanova & {
        padding: 50px 0 0;
        
        &::after {
          top: 0;
          bottom: auto;
        }
      }
    }
  }
  &__name {
    font-size: 22px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 1em;
    text-transform: uppercase;
  }
  &__position {
    margin: 1em 10%;
    @media $mobile {
      margin-bottom: 0;
    }
  }
  
  &__text {
    flex: 0 1 auto;
    width: 100%;
    overflow-y: auto;
    font-size: 1rem;
    line-height: 23px;
    @media $mobile {
      margin: 40px 0;
      font-size: 18px;
      line-height: 1.4;
    }
  }
}