.footer {
  padding: 30px 0;
  .layout--home & {
    padding: 2.5rem;
    @media $mobile {
      background: url('../img/noise-bg.png') top center no-repeat;
    }
  }
  
  &__text {
    margin: 2rem auto;
    font: normal 15px/1.33 $font-base;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
  }
  
  &__logo {
    display: block;
    text-align: center;
    margin: 1rem auto 0;
  }
}