.girl-info {
  @media $desktop {
    padding: 0 0 100px;
    background: url('../img/bg-1.jpg') top 70px center no-repeat;
  }
  @media $mobile {
    background: $white.bg;
  }
  &__content {
    max-width: 1100px;
    margin: 0 auto;
    background: $white.bg;
    text-align: center;
    padding: 190px 0 1.25rem;
    @media $mobile {
      padding: 120px 0 0;
    }
  }
  &__avatar {
    circle(300px);
    absolute(-130px, 50%);
    transform: translateX(-50%);
    @media $mobile {
      top: -190px;
    }
    
    img {
      display: block;
      size(100%);
      object-fit: cover;
    }
  }
  &__name {
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__profession {
    font-size: 18px;
    line-height: 1.56;
  }
  
  .dots {
    absolute();
    size(100%);
  }
  
  .dot {
    absolute();
    size(49px);
    background: url('../img/point.png') center no-repeat;
    &--1 {
      top: 590px;
      left: -215px;
    }
    &--2 {
      top: 50px;
      right: -150px;
    }
    &--3 {
      top: 345px;
      right: -75px;
    }
    &--4 {
      top: 345px;
      right: -150px;
    }
  }
}