.other-girls {
  padding-top: 5rem
  @media $desktop {
    background: url('../img/bg-2.jpg') top -450px center no-repeat;
  }
  @media $mobile {
    background: url('../img/bg-2-mobile.png') left bottom no-repeat;
    background-size: cover;
    padding: 5rem 10px;
  }
  &__heading {
    margin: 0 auto 20px;
    max-width: 320px;
  }
  &__list {
    flexy(center, stretch);
    @media $mobile {
      margin-top: 82px;
      justify-content: space-between;
    }
  }
  &__item {
    flex: 0 0 300px;
    padding: 0 10px;
    @media $mobile {
      flex-basis: 180px;
    }
    @media $desktop {
      &:first-child,
      &:last-child {
        margin-top: 5rem;
      }
    }
  }
  
  .dots {
    absolute();
    size(100%);
  }
  .dot {
    absolute();
    size(49px);
    background: url('../img/point.png') center no-repeat;
    &--1 {
      top: -30px;
      left: -160px;
    }
    &--2 {
      top: -30px;
      left: -80px;
    }
    &--3 {
      top: -5px;
      right: 85px;
    }
    &--4 {
      top: 75px;
      right: 85px;
    }
    &--5 {
      top: 75px;
      right: 5px;
    }
  }
}

.other-girl {
  @media $desktop {
    background: $white.text;
    padding-left: 30px;
    transform-origin: top center;
    transition: transform 0.7s;
    
    &:hover {
      transform: translateY(-20px);
    }
  }
  &__link {
    display: block;
    color: $black.text;
    &:hover {
      color: inherit;
    }
  }
  &__profession {
    font: bold 15px/1.87 $font-base;
    padding: 6px 0;
    padding-right: 30px;
    
    &::after {
      content: '';
      display: block;
      circle(10px);
      absolute(15px);
      right: 15px;
      background: #3a3a3a;
    }
  }
  
  &__img {
    @media $desktop {
      height: 310px;
      overflow: hidden;
    }
    @media $mobile {
      circle(160px);
      overflow: hidden;
      margin: 0 auto 10px;
      
      img {
        display: block;
        size(100%, auto);
        object-fit: cover;
      }
    }
  }
  
  &__name {
    @media $desktop {
      padding: 20px 0;
      .first {
        font: bold 25px/30px $font-base;
      }
      .family {
        font: bold 35px/30px $font-base;
      }
    }
    @media $mobile {
      font: 500 18px/1.4 $font-base;
      text-align: center;
    }
  }
}