.slider {
  padding: 30px 0 0;
  margin-bottom: -60px;
  @media $mobile {
    padding-bottom: 70px;
    margin-bottom: 0;
  }
  .l-container {
    padding: 0;
  }
  &__heading {
    max-width: 315px;
    margin: 0 auto 5rem;
    @media $mobile {
      margin-bottom: 30px;
    }
    
    .title {
      color: $white.text;
    }
    .subtitle {
      margin-top: -2.5rem;
    }
  }
  &__carousel {
    margin: 5rem auto 0;
    @media $mobile {
      margin-top: 30px;
      
      .owl-stage-outer {
        padding-top: 50px;
      }
    }
  }
}

.slide {
  flexy(flex-start, stretch);
  background: $white.bg;
  @media $mobile {
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px 60px;
  }
  &__img {
    flex: 0 0 400px;
    @media $mobile {
      flex-basis: 280px;
      margin-top: -50px;
    }
    img {
      display: block;
      max-width: 100%;
    }
  }
  &__info {
    flex: 0 0 700px;
    max-width: 700px;
    padding: 3rem 5rem 5.5rem;
    @media $desktop {
      flexy(flex-start, flex-start, column, nowrap);
      max-height: 530px;
    }
    @media $mobile {
      flex: 0 0 320px;
      padding: 20px;
      margin-top: -50px;
    }
  }
  
  &__heading {
    width: 100%;
    flex: 0 0 auto;
    .subtitle {
      margin-top: 0.75em;
    }
  }
  &__text {
    flex: 0 1 auto;
    width: 100%;
    margin-top: 50px;
    overflow: auto;
    @media $mobile {
      margin-top: 40px;
      flex: 0 0 100%;
      font-size: 18px;
    }
    
    a {
      font: bold italic 23px $font-accent;
      color: $primary.text;
    }
  }
}