.social {

  flexy(center, center, row, nowrap);
  
  &--inline {
    flex-wrap: nowrap;
  }
  
  &__link {
    display: block;
    font-size: 1.25rem;
    line-height: 1;
    color: $black.text;
    transition: color 0.2s;
    
    {hover-focus-active} {
      color: $primary.light;
      text-decoration: none;
    }
  }
  &__link + &__link {
    margin-left: 2rem;
  }
  
  &__text {
    font: normal 15px/1 $font-base;
    text-transform: lowercase;
  }
  
  &__text,
  &__icon {
    vertical-align: middle;
  }
  &__icon {
    padding: 0.325rem;
  }
  
  &__title {
    width: 100%;
    font-size: 15px;
    text-align: left;
    margin: 0 auto 1.5rem;
  }
  &--inline &__title {
    width: auto;
    font-size: 15px;
    text-align: left;
    margin: 0;
    text-transform: none;
  }
  
  &__delimiter {
    size(5rem, 1px);
    background: currentColor;
    margin: 0 1.25rem;
  }
  
}
.ya-share2 {

  &__list {
    padding: 0;
    margin: 0;
    flexy(center, center, row, nowrap);
  }
  
  &__item {
    display: block;
  }
  &__link {
    font-size: 1.25rem;
    line-height: 1;
    color: $black.text;
    transition: color 0.2s;
    
    {hover-focus-active} {
      color: $primary.light;
      text-decoration: none;
    }
    
  }
  &__item + &__item {
    margin-left: 2rem;
  }
  
  &__title {
    font: normal 15px/1 $font-base;
    text-transform: lowercase;
  }
  
  &__title,
  &__badge {
    vertical-align: middle;
  }
  &__icon {
    padding: 0.325rem;
  }
  
}